*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

@font-face {
  font-family: 'Cyrvetica v2 Extra Outline';
  src: url(/fonts/font.otf);
}


body {
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  height: 1000px;
  background-image: url(./img/header\ gb.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header {
  padding-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_logo {
  width: 60px;
  height: 60px;
}

.logo_text{
  display: none;
  color: #1576C4;
  text-transform: uppercase;
  font-weight: 700;
  margin-left: 15px;
}

.header_list {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  display: flex;
  align-items: center;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
}

.header_item~.header_item {
  margin-left: 30px;
}

.header_link {
  text-decoration: none;
  color: black;
}

.header_list_text {
  color: #1576C4;
  transition: .2s;
}

.header_list_text:hover {
  opacity: .8;
  scale: 1.2;
}

.header_list_text:active {
  opacity: 1;
  scale: 1;
}






.hero_title_wrapper {
  display: flex;
  padding: 200px 0;
  flex-direction: column;
  align-items: center;
  color: #1576C4;
  justify-content: center;
}

.hero_title_eld,
.hero_title_bottom {
  margin: 0;
  font-size: 91px;
  user-select: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  word-spacing: 10px;
  letter-spacing: 5px;
}

.hero_title_bottom {
  margin-top: -25px;
}

.hero_title_eld {
  font-family: 'Cyrvetica v2 Extra Outline';
  font-weight: normal;
}

.hero_btn {
  border: none;
  padding: 10px 20px;
  background-color: #1576C4;
  color: white;
  cursor: pointer;
  transition: .2s;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 500;
}

.hero_btn:hover {
  scale: 1.1;
  background-color: transparent;
  border: 3px solid #1576C4;
  color: #1576C4;
}

.hero_btn:active {
  scale: 1;
}

.hero_link{
  text-decoration:none; 
  color: white;

}





#sect_app {
  background-color: #1576C4;
}

.app {
  font-family: 'Cyrvetica v2 Extra Outline';
  color: white;
  padding: 70px 0;
}

.app_text {
  margin: 0 auto;
  font-size: 65px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  position: relative;
}

.app_text::before {
  position: absolute;
  content: '“';
  font-size: 100px;
  left: -5%;
  top: -10%;
}

.app_text::after {
  position: absolute;
  content: '”';
  font-size: 100px;
  right: -5%;
}





.about {
  text-align: center;
}

.about_title {
  margin-top: 30px;
  color: #1576C4;
  font-size: 61px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Cyrvetica v2 Extra Outline';
}

.about_quote {
  color: #1576C4;
  padding: 40px 0;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 700;
}




#about_text {
  background-color: #1576C4;
  padding: 10px 0;
}

.about_text_wrap {
  text-align: center;
  color: white;
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
}

.about_text_bottom {
  font-family: 'Cyrvetica v2 Extra Outline';
  font-weight: normal;
}



.tablet {
  margin: 50px 0;
  margin-bottom: 10px;
}

.tablet_list {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.teblet_item {
  width: 32%;
  margin-bottom: 30px;
  transition: .3s;
  background-color: #1576C4;
  border-radius: 5px;
  text-align: center;
}

.teblet_item:hover {
  opacity: .8;
}

.tablet_img{
  width: 100%;
  border-radius: 5px 5px 0px 0px;
}

.tablet_link{
  text-decoration: none;
}

.tablet_text{
  color: white;
  padding: 15px;
}



#map{
  padding-top: 30px;
}




.mobile {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile_bg {
  width: 30%;
  margin-left: 50px;
}

.mobile_content {
  width: 60%;
}

.mobile_title {
  color: #1576C4;
  text-transform: uppercase;
  text-align: center;
}

.mobile_img_wrap {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.mobile_img {
  width: 20%;
}





#partners {
  background-color: #1576C4;
  padding: 30px 0;
}

.partners {
  text-align: center;
}

.partners_title {
  color: white;
  font-size: 50px;
  text-transform: uppercase;
  font-family: 'Cyrvetica v2 Extra Outline';
  font-weight: 400;
}

.partners_img_wrap {
  margin-top: 30px;
  padding: 0 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.partners_img {
  object-fit: fill;
  width: 20%;
}

.partners_img~.partners_img {
  margin-left: 10%;
}







.footer {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #1576C4;
}

.footer_logo {
  width: 40%;
  height: auto;
}

.footer_info_text {
  margin-top: 10px;
}

.footer_cols {
  width: 30%;
}

.footer_link {
  text-decoration: none;
  color: #1576C4;
}

.footer_posts_text {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.footer_icons{
  margin-right: 10px;
}






@media (max-width:1300px) {
  .container {
    max-width: 1000px;
  }

  .app_text {
    font-size: 50px;
  }



  .about_video_wrap {
    height: 250px;
    margin-bottom: 25px;
  }

  .about_video_left,
  .about_video_right {
    top: 25px;
  }


  .teblet_item {
    width: 300px;
  }

  .tablet_img {
    width: 300px;
  }

  .partners_img_wrap {
    width: 80%;
    margin: 0 auto;
  }

  .about_quote {
    font-size: 30px;
  }
}

@media (max-width:950px) {
  .container {
    max-width: 700px;
  }

  .hero_title {
    font-size: 70px;
  }

  .hero_title_eld {
    font-weight: 700;
  }

  .hero_title_bottom {
    margin-bottom: 50px;
  }

  .app_text {
    font-size: 40px;
  }

  .app_text::before {
    font-size: 50px;
  }

  .app_text::after {
    font-size: 50px;
  }

  .about_quote {
    font-size: 20px;
  }

  .about_video_wrap {
    height: 180px;
    margin-bottom: 19px;
  }

  .about_video_left,
  .about_video_right {
    top: 19px;
  }

  .about_text_wrap {
    font-size: 30px;
  }

  .teblet_item {
    width: 300px;
  }

  .tablet_title {
    font-size: 20px;
  }
}

@media (max-width:750px) {
  .container {
    max-width: 500px;
  }

  .header_logo {
    width: 30px;
    height: 30px;
  }

  .header_item~.header_item {
    margin-left: 10px;
  }

  .header_list_text {
    font-size: 14px;
  }

  .hero_title {
    font-size: 50px;
  }

  .hero_title_bottom {
    margin-top: 0;
  }

  .app_text {
    font-size: 25px;
  }

  .about_title {
    font-size: 35px;
  }

  .about_quote {
    font-size: 16px;
    padding: 20px 0;
  }

  .about_video_wrap {
    display: none;
  }

  .tablet_list {
    justify-content: center;
  }

  .mobile_bg {
    margin: 0;
  }

  .mobile_title {
    font-size: 20px;
  }

  .partners_title {
    font-size: 35px;
  }

  .footer_posts_title {
    font-size: 16px;
  }

  .footer_info_text,
  .footer_posts_text {
    font-size: 12px;
  }

  .tablet_item_last{
    display: none;
  }
}

@media (max-width:520px) {
  .container {
    max-width: 350px;
  }

  header {
    background-position: right -100px top 0;
    height: 100vh;
  }

  .logo_text{
    display: block;
  }

  .header_logo_link{
    text-decoration: none;
    display: flex;
    align-items: center;
    margin: 0 auto;
  }

  .hero_title_wrapper{
    padding-top: 90px;
  }
  
  .hero_title {
    font-size: 30px;
  }

  .hero_title_bottom{
    margin-bottom: 250px;
  }

  .header_list{
    display: none;
  }

  .mobile{
    display: block;
    text-align: center;
    margin: 0 auto;
  }

  .mobile_content{
    width: 100%;
  }

  .mobile_img_wrap{
    margin: 0 auto;
  }

  .tablet_item_last{
    display: none;
  }

  .partners_img{
    width: 40%;
  }

  .footer{
    display: flex;
    flex-wrap: wrap;
  }

  .footer_logo{
    width: 30%;
  }

  .footer_info{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
  }

  .footer_posts,
  .footer_socials{
    width: 45%;
  }
}